.App {
  padding: 0 2rem;
  max-width: 768px;
}

@media screen and (min-width: 1024px) {
  .App {
    padding: 0 4rem;
  }
}

.App-container {
  max-width: 768px;
}

@media screen and (min-width: 1536px) {
  .App-container {
    margin: 0 auto;
  }
}